* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: #E7F3FF;
    font-family: sans-serif;
}

.custom-header {
    background-color: #1154A3;
    color: white;
    height: 230px;
    width: 100%;
    padding-top: 1rem;              
    padding-bottom: 6rem;         
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
    text-align: center;
}

.custom-header h2, .custom-header p {
    max-width: 90%;
    word-wrap: break-word;
}

.calculator-card {
    max-width: 500px;
    margin: -70px auto 2rem;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    height: 230px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.form-section,
.image-section {
    width: 50%;
}

.form-select {
    height: 32px;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

.form-section label {
    font-size: 0.85rem;
}

.btn {
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.2;
}

.image-section img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.custom-outline-orange {
    color: #fd7e14;
    border-color: #fd7e14;
}

.custom-outline-orange:hover {
    background-color: #fd7e14;
    color: white;
}

.placeholder-gray {
    color: gray;
}

.placeholder-gray.filled {
    color: black;
}

.white-icon {
    color: white !important;
}

select:required:invalid {
    color: gray;
}

option {
    color: black;
}

option.placeholder-option {
    color: gray;
}
